.navLinks {
    display: flex;
    align-items: center;
    gap: 120px;
    justify-content: space-evenly;
}
.navLinks img {
    width: 400px;
    padding-right: 60px;
}
.navLinks li {
    display: inline;
    margin-right: 40px;
    font-size: 1.5rem;
}
.navLinks input {
    padding: 5px;
    border-radius: 4px;
    background-color: #e2e2ec;
}